

@font-face {
    font-family: "Roboto";
    src: url("./base/polices/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Shrikhand";
    src: url("./base/polices/shrikhand/Shrikhand-Regular.otf");  
}



//*************************************************************************/
//***************************   smartPhone  ********************************/
//*************************************************************************/

                   

.vewport{
width:auto;   
}
//************************************* variables color ****/
$Primaire: #9356DC; 
$Secondaire: #FF79DA;
$Tertiaire: #99E2D0 ; 
$background-col: #f2f2f2;


//************************************* variables fonts ****/
$fontFamily1: "roboto";
$fontFamily2: "Shrikhand";


//************************************* structure strings ****/

h1{ font-family: $fontFamily2;}

h2{ font-family: $fontFamily1;
    font-size: 20px; color:black;  font-weight: bold;}
h3{ font-family: $fontFamily1;
    font-size: 16px; color:black; font-weight: bold;}
p{font-family: $fontFamily1;
    font-size: 14px;color:black;} 
//************************************* container ****/

body{       
border: 1px solid red;
width: 97%;
padding:5px;
margin:0 auto;
background-color: $background-col;
}
         
    
    //**************** page d'accueil *****/
    //***************   header   ****************/
    
    header {
    width:95%;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding: 20px 0;
    margin: 0 auto;
    
        & img{
        width:50%;
        height: 12em;
        margin: 0 auto;
        justify-content: center;
        }

        & .nav{
            border: 1px solid pink;
            margin:0 auto;
            
        }
        & ul{
        display:flex;
        justify-content: space-around;
        text-decoration: none;
        list-style-type: none;
        color:$Primaire;
        }

        & .intro{
            text-align: center;
        }
    } 
    
    //***************   container pour articles avec photos  ****************/
  

    #containerArticles{
        max-width: 90%;
        min-height: 30em;
        margin:0 auto;
        border: 1px solid black;
        padding: 20px 20px;

        display:grid;
        grid-template-columns: 1fr 1fr;

        & .blocPhotos{
            width:80%;
            border: 1px solid, blue;
    
        }


    }

    //******  footer ***********************************//
    footer{
     width: 100%;
     border: 1px solid green;
    
        & ul{
        display:flex;
        justify-content: space-around;
        text-decoration: none;
        list-style-type: none;
        color:$Primaire;
        }
    }


